<p>contact.html</p>

<%= render '/welcome/welcomenav' %>

<i class="fi-heart style3"></i>
<i class="fi-sound"></i>
<i class="fi-camera"></i>
<i class="fi-video"></i>
<i class="fi-star"></i>
<i class="fi-plus"></i>

<p>Contact. This would be a static home page in a Rails application.</p>