	 
		<!-- main content goes here -->
		<p>home.html</p>

		<%= render '/welcome/welcomenav' %>

		<p>Home. This would be a static home page in a Rails application.</p>

	    <!-- close the off-canvas menu -->
	    <a class="exit-off-canvas"></a>

	</div>
</div>


