.left-sidebar {
    background-color: #512DA8;
    color: #FFFFFF;
    display: block;
    position: fixed;
    width: 160px;
    height: 100%;
    z-index: 1000;
    overflow: hidden;
    box-shadow: 1px 0px 2px rgba(0,0,0,0.5);
    transition: all .7s ease; 
    a {
      color: white;
    }
    li:hover {
      background-color: #333333;
    }    
}

.propreties-sidebar {
    list-style: none;
    margin: 0;
    white-space: nowrap;
    li {
        border-bottom: 1px solid rgba(255, 255, 255, .1);
        i {
            font-size: 2rem;
            padding: 0px 20px;
        }
    }
    .toggleSidebar i {
        color: #2BA6CB;
    }
}

.render-page {
    margin-left: 60px;
    height: 100%;
}

/***** Toggle Sidebar *****/

.left-sidebar.toggle {
    width: 60px;
}

/***** End Toggle Sidebar *****/

