<h1><%=@course.title%> Chapters</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Description</th>
      <th>Icon</th>
      <th>Points</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>
    
    
  </tbody>



</table>




<ul>
  <% @course.chapters.each do |chapter| %>
  <li><%= chapter.title %></li>
  <% end %>
</ul>

<br>

<%= link_to 'New chapter', new_course_chapter_path %>

