<nav class="top-bar" data-topbar role="navigation" data-options="is_hover: false">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#"><span>Pylon</span></a></h1>
    </li>
    <!-- For Responsive design on smaller devices : -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone. -->
  </ul>

  <section class="top-bar-section">
    <!-- Middle Navigation Links -->
    <ul class="middle">
      <li><a href="#"><i class="fi-trophy"></i><span>Points<span></a></li>
      <li class="divider"></li> 
      <li><%= link_to '<i class="fi-torso"></i>'.html_safe + " " + current_user.username, user_path(current_user)%></li> 
      <li class="divider"></li>
      <li><a href="#"><i class="fi-comments"></i><span>Alertes<span></a></li>
    </ul>
    <!-- End Middle Navigation Links -->

    <!-- End Right Navigation Links -->
    <ul class="right">
      <li class="divider"></li>
      <li><%= link_to('Déconnexion', destroy_user_session_path, :method => :delete) %></li>
    </ul>
    <!-- End Right Navigation Links -->

  </section>
</nav>