<div class="left-sidebar">
  <ul class="propreties-sidebar">

    <li><%= link_to '<i class="fi-home"></i>Portail'.html_safe, authenticated_root_path %></li>
    <li><%= link_to '<i class="fi-database"></i>Librairie'.html_safe, courses_path%></li>
    <li><a href="#"><i class="fi-star"></i>Favoris</a></li>
    <li><a href="#"><i class="fi-target"></i>Objectifs</a></li>
    <li><a href="#"><i class="fi-trophy"></i>Rang</a></li>
    <li><a href="#"><i class="fi-graph-bar"></i>Stats</a></li>
    <li><a href="#"><i class="fi-comments"></i>Forum</a></li>
    <li><a href="#"><i class="fi-wrench"></i>Admin</a></li>
    <li class="toggleSidebar"><a href="#"><i class="fi-arrow-left"></i>Fermer</a></li>
  </ul>
</div>